* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Bandi'; /* Choose a name for your font */
  src: url('/fonts/core-bandi-face.ttf') format('ttf'); /* Specify the path to your font file and its format */
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Bandi', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("/images/background.jpeg");
  background-size: cover;
}

.big-cont {
  margin-left: 5%;
  display: flex;
  flex-direction: column;
}

.container10 {
  background: url("/images/notebookTLO.png");
  background-repeat: no-repeat;
  align-self: center;
  justify-self: center;
  margin-top: 3%;
  width: 800px;
  height: 520px;
  background-size: 100%;
  display: flex;
  flex-direction: row;
  
}

.left1 {
  display: flex;
  flex-direction: column;
  width: 50%;

}

h3 {
  color: #7f5342;
  margin-top: 15%;
  margin-left: 15%;
  font-size: 1.5vw;
}
p {
  color: #855e4f;
}

.left1 p{
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 15%;
  font-size: 90%;
}

.ri1 {
  margin-left: 10%;
}
.right1 {
  color: #7f5342;
  margin-top: 6%;
  margin-left: 1%;
  display: flex;
  flex-direction: column;
  width: 40%;
  text-align: center;
}

.right1 img {
  margin-top: 5%;
  width: 40%;
  transition: transform 0.4s ease;
}

.right1 img:hover {
  transform: scale(4);
}

.nav-btn {
  display: flex;
  justify-content: space-between;
  margin-top: 3%;

      
}

.navigation {
  text-align: center;
  display: flex;
  flex-direction: row;
  gap: 85%;
}

.button {
  display: inline-block;
  padding: 5px 5px;
  background-color: #ffffff7b;
  color: #8a3434;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #9a90904c;
}



@media only screen and (max-width: 600px) {
  .container10 {
    width: 80%;
    height: 280px;
  }
  h3 {
      font-size: 1vw;
  }
  .le p{
      font-size: 1.5vw;
      margin-right: 2%;
  }

  .button {
    font-size: 1.5vw;
  }

  .navigation {
    margin-left: 10%;
    gap: 73%;
  }
  
}