@font-face {
    font-family: 'EB Garamond';
    src: url("/fonts/EB_Garamond/EBGaramond-VariableFont_wght.ttf");
}

body {
    font-family: 'EB Garamond', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("../images/background2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    min-height: 600px; /* Adjust the minimum height as needed */
    min-width: 800px;
}

.diary {
    width: 80%;
    margin: 40px auto;
    overflow: hidden; /* Hide overflowing content */
}

.page {
    display: none;
}

.page:target {
    display: block;
}

img {
    width: 80%;
    height: auto;
    margin-left: 10%;
    /* margin-right: auto; */
}

.navigation {
    margin-top: 1px;
    text-align: center;
}

.button {
    display: inline-block;
    padding: 10px;
    margin: 0 10px;
    text-decoration: none;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #555;
}

.container {
    width: 100%;
    margin: 40px auto;
    overflow: hidden; /* Hide overflowing content */
    position: center;
}

.home-screen {
    width: 50%;
    margin: 0 auto;
    display: block;
    margin-top: 3%;
}

.content {
    position: absolute;
    top: 350px;
    left: 745px;
    transform: translate(-50%, -50%);
    text-align: center;
    overflow-y: auto; /* Allow vertical scrolling */
    max-height: calc(95vh - 270px); 
    -webkit-overflow-scrolling: touch;
    overflow: -moz-scrollbars-none;
}
.content::-webkit-scrollbar {
    width: 8px; /* Adjust the width as needed */
}
.content::-webkit-scrollbar-thumb {
    background-color: transparent; /* Hide the thumb */
}

.logo {
    width: 130px;
    left: 600px;
    margin-bottom: 10px; 
}

.guides {
    color: #9E8976;
}

p {
    margin: 10px 0;
}

.button {
    display: inline-block;
    padding: 5px 5px;
    background-color: #AD4D47;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #87645A;
}

.background-img {
    position: relative;
    width: 100%;
    height: auto;
    display: block;
}

.links {
    position: fixed;
}

.links a:hover {
    color: #9F5561;
}

.professional a {
    color: #C88F98;
    position: fixed; /* Fixed position */
    bottom: 36%;
    left: 32.5%;
    transform: translate(-50%, -50%);
    font-size: 1.5vw;
    text-decoration: none;
}

.links a:hover {
    color: #9F5561;
}

.technical a {
    color: #C88F98;
    position: fixed; /* Fixed position */
    bottom: 28%;
    right: 25%;
    transform: translate(-50%, -50%);
    font-size: 1.5vw;
    text-decoration: none;
}

.sources a {
    color: #C88F98;
    position: fixed; /* Fixed position */
    top: 13%;
    right: 41.5%;
    transform: translate(-50%, -50%);
    font-size: 1.5vw;
    text-decoration: none;
}

.about-me a {
    color: #C88F98;
    position: fixed; /* Fixed position */
    bottom: 41.5%;
    right: 3%;
    transform: translate(-50%, -50%);
    font-size: 1.5vw;
    text-decoration: none;
}

.aboutme {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 300px;
    width: 900px;
    height: auto;
}

/* page */

.image-1-detail {
    position: absolute;
    top: 57%;
    left: 50%;
    width: 21%; /* Adjust the width as needed */
    z-index: 2; /* Place it above the main image */
    transition: transform 0.3s; /* Add a smooth transition effect */
  }

  .image-1-detail:hover {
    transform: scale(3); /* Adjust the scale as needed */
  }

  .images-1-detail img {
    width: 100%;
    height: auto;
  }


  .image-2-detail {
    position: absolute;
    top: 27%;
    left: 60%;
    width: 21%; /* Adjust the width as needed */
    transition: transform 0.3s; /* Add a smooth transition effect */
  }

  .image-2-detail:hover {
    transform: scale(3); /* Adjust the scale as needed */
    z-index: 2;
  }

  .images-2-detail img {
    width: 100%;
    height: auto;
  }


  .image-3-detail {
    position: absolute;
    top: 30%;
    left: 35%;
    width: 16.5%; /* Adjust the width as needed */
    z-index: 1; /* Place it above the main image */
    transition: transform 0.3s; /* Add a smooth transition effect */
  }

  .image-3-detail:hover {
    transform: scale(3); /* Adjust the scale as needed */
    z-index: 2;
  }

  .images-3-detail img {
    width: 100%;
    height: auto;
  }



  .image11-1-detail {
    position: absolute;
    top: 44.5%;
    left: 28.4%;
    width: 23%;
    transition: transform 0.3s;
    z-index: 0;
  }

  .image11-1-detail:hover {
    transform: scale(3); 
    z-index: 2;/* Adjust the scale as needed */
  }

  .images11-1-detail img {
    width: 100%;
    height: auto;
  }


  .image11-2-detail {
    position: absolute;
    top: 28%;
    left: 49%;
    width: 18%;
    transition: transform 0.3s;
  }

  .image11-2-detail:hover {
    transform: scale(3.5);
    z-index: 2; /* Adjust the scale as needed */
  }

  .images11-2-detail img {
    width: 100%;
    height: auto;
  }



  .image11-3-detail {
    position: absolute;
    top: 26.8%;
    left: 66%;
    width: 15%;
    transition: transform 0.3s;
  }

  .image11-3-detail:hover {
    transform: scale(3.5); 
    z-index: 2;/* Adjust the scale as needed */
  }

  .images11-3-detail img {
    width: 100%;
    height: auto;
  }



  .image11-4-detail {
    position: absolute;
    top: 58.5%;
    left: 49.6%;
    width: 14.9%;
    transition: transform 0.3s;
  }

  .image11-4-detail:hover {
    transform: scale(3.5);
    z-index: 2;/* Adjust the scale as needed */
  }

  .images11-4-detail img {
    width: 100%;
    height: auto;
  }


  .image11-5-detail {
    position: absolute;
    top: 58.4%;
    left: 62%;
    width: 21%;
    transition: transform 0.3s;
  }

  .image11-5-detail:hover {
    transform: scale(3.5); /* Adjust the scale as needed */
  }

  .images11-5-detail img {
    width: 100%;
    height: auto;
  }




.image12-1-detail {
    position: absolute;
    top: 38%;
    left: 48%;
    width: 20%;
    transition: transform 0.3s;
  }

  .image12-1-detail:hover {
    transform: scale(3.5); 
    z-index: 2;
  }

  .images12-1-detail img {
    width: 100%;
    height: auto;
  }



  .image12-2-detail {
    position: absolute;
    top: 52.6%;
    left: 48%;
    width: 20%;
    transition: transform 0.3s;
  }

  .image12-2-detail:hover {
    transform: scale(3.5);
    z-index: 2;
  }

  .images12-2-detail img {
    width: 100%;
    height: auto;
  }



  .image12-3-detail {
    position: absolute;
    top: 29.7%;
    left: 65%;
    width: 17%;
    transition: transform 0.3s;
  }

  .image12-3-detail:hover {
    transform: scale(3.5);
    z-index: 2; 
  }

  .images12-3-detail img {
    width: 100%;
    height: auto;
  }


  .image12-4-detail {
    position: absolute;
    top: 52.6%;
    left: 65%;
    width: 15%;
    transition: transform 0.3s;
  }

  .image12-4-detail:hover {
    transform: scale(3.5); 
  }

  .images12-4-detail img {
    width: 100%;
    height: auto;
  }