@font-face {
    font-family: 'EB Garamond';
    src: url("/fonts/EB_Garamond/EBGaramond-VariableFont_wght.ttf");
}

body {
    font-family: 'EB Garamond', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("../images/background.jpeg");
    background-size: 100%;
    background-repeat: repeat;
    display: block;

}

/* .button {
    display: inline-block;
    padding: 10px;
    margin: 0 10px;
    text-decoration: none;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
} */

.button:hover {
    background-color: #555;
}

.container {
    width: 100%;
    margin: 40px auto;
    overflow: hidden; /* Hide overflowing content */
    position: center;
}

.home-screen {
    width: 50%;
    margin: 0 auto;
    display: block;
    margin-top: 3%;
}


p {
    margin: 10px 0;
}

.button {
    display: inline-block;
    padding: 5px 5px;
    background-color: #ffffff7b;
    color: #8a3434;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #9a90904c;
}


.background-img {
    position: relative;
    width: 100%;
    height: auto;
    display: block;
}

.links {
    position: relative;
}

.links a:hover {
    color: #9F5561;
}

.professional a {
    color: #C88F98;
    position: fixed; 
    top: 84%;
    left: 32.5%;
    transform: translate(-50%, -50%);
    font-size: 1.5vw;
    text-decoration: none;
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10px;
    border-radius: 5px;
}

.technical a {
    color: #C88F98;
    position: fixed; /* Fixed position */
    top: 91.5%;
    right: 25%;
    transform: translate(-50%, -50%);
    font-size: 1.5vw;
    text-decoration: none;
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10px;
    border-radius: 5px;
}

.sources a {
    color: #C88F98;
    position: fixed; /* Fixed position */
    top: 39%;
    right: 41.5%;
    transform: translate(-50%, -50%);
    font-size: 1.5vw;
    text-decoration: none;
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10px;
    border-radius: 5px;
}

.about-me a {
    color: #C88F98;
    position: fixed; /* Fixed position */
    top: 78%;
    right: 3%;
    transform: translate(-50%, -50%);
    font-size: 1.5vw;
    text-decoration: none;
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10px;
    border-radius: 5px;
}

.aboutme {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 300px;
    width: 900px;
    height: auto;
}

.reflection a{
    color: #C88F98;
    position: fixed; /* Fixed position */
    top: 40%;
    left: 20%;
    transform: translate(-50%, -50%);
    font-size: 1.5vw;
    text-decoration: none;
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10px;
    border-radius: 5px;
}


.picture-wall img {
  margin-top: 5%;
  margin-left: 80%;
  width: 10%;
  transition: transform 0.4s;
}

.picture-wall img:hover {
  transform: scale(4);

}

.cat img {
    width: 35px;
    height: auto;
    position: absolute;
    animation: moveAround 50s linear infinite; /* Adjust the duration and timing function as needed */
  }


@keyframes moveAround {
    0% { transform: translate(65vw, 10vh); }
    25% { transform: translate(20vw, 90vh); } /* 80% of viewport width and 60% of viewport height */
    50% { transform: translate(50vw, 0); } 
    75% { transform: translate(55vw, 90vh); } /* 80% of viewport width and 60% of viewport height in the opposite direction */
    100% { transform: translate(65vw, 0); }
  }





@media only screen and (max-width: 600px) {
    
    .professional a { 
        top: 30%;
        left: 35%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2px;
        width: 43px;
        font-size: 1.5vw;
    }

    .technical a {
        top: 32%;
        left: 66%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2px;
        width: 43px;
    }

    .sources a {
        top: 15%;
        left: 55%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2px;
        width: 43px;  
    }

    .about-me a {
        top: 30%;
        left: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2px;
        width: 43px;  
    }

    .reflection a{
        top: 20%;
        left: 21%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2px;
        width: 43px; 
    }
}