@font-face {
    font-family: 'EB Garamond';
    src: url("/fonts/EB_Garamond/EBGaramond-VariableFont_wght.ttf");
}

body {
    font-family: 'EB Garamond', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("../images/background2.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    display: block;
    min-height: 600px;
    min-width: 800px; 
}

/* .button {
    display: inline-block;
    padding: 10px;
    margin: 0 10px;
    text-decoration: none;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
} */

.button:hover {
    background-color: #555;
}

.container {
    width: 100%;
    margin: 40px auto;
    overflow: hidden; /* Hide overflowing content */
    position: center;
}

.home-screen {
    width: 50%;
    margin: 0 auto;
    display: block;
    margin-top: 3%;
}


p {
    margin: 10px 0;
}

.button {
    display: inline-block;
    padding: 5px 5px;
    background-color: #ffffff7b;
    color: #8a3434;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #9a90904c;
}


.background-img {
    position: relative;
    width: 100%;
    height: auto;
    display: block;
}

.links {
    position: relative;
}

.links a:hover {
    color: #9F5561;
}

.professional a {
    color: #C88F98;
    position: fixed; 
    top: 84%;
    left: 32.5%;
    transform: translate(-50%, -50%);
    font-size: 1.5vw;
    text-decoration: none;
}

.technical a {
    color: #C88F98;
    position: fixed; /* Fixed position */
    top: 91.5%;
    right: 25%;
    transform: translate(-50%, -50%);
    font-size: 1.5vw;
    text-decoration: none;
}

.sources a {
    color: #C88F98;
    position: fixed; /* Fixed position */
    top: 39%;
    right: 41.5%;
    transform: translate(-50%, -50%);
    font-size: 1.5vw;
    text-decoration: none;
}

.about-me a {
    color: #C88F98;
    position: fixed; /* Fixed position */
    top: 78%;
    right: 3%;
    transform: translate(-50%, -50%);
    font-size: 1.5vw;
    text-decoration: none;
}

.aboutme {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 300px;
    width: 900px;
    height: auto;
}



.picture-wall img {
  margin-top: 5%;
  margin-left: 80%;
  width: 10%;
  transition: transform 0.4s;
}

.picture-wall img:hover {
  transform: scale(4);

}

/* @media only screen and (min-width: 768px) {
    .professional a { 
        top: 80%;
    }
} */