* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Bandi'; /* Choose a name for your font */
  src: url('/fonts/core-bandi-face.ttf') format('ttf'); /* Specify the path to your font file and its format */
}

body {
  font-family: 'Bandi', cursive;
  font-size: 86.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../images/background.jpeg");
  background-size: cover;
}

.big-cont {
  margin-left: 5%;
  display: flex;
  flex-direction: column;
}

.container10 {
  background: url("../images/notebook.png");
  background-repeat: no-repeat;
  align-self: center;
  justify-self: center;
  margin-top: 3%;
  width: 800px;
  height: 520px;
  background-size: 100%;
  display: flex;
  flex-direction: row;
  
}

.left1 {
  display: flex;
  flex-direction: column;
  width: 50%;

}

h3 {
  color: #7f5342;
  margin-top: 18%;
  margin-left: 40%;
  font-size: 1.5vw;
}


.left1 p{
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 15%;
  font-size: 90%;
}

.ri1 {
  margin-left: 10%;
}
.right1 {
  color: #7f5342;
  margin-top: 6%;
  margin-left: 1%;
  display: flex;
  flex-direction: column;
  width: 40%;
  text-align: center;
}

.right1 img {
  margin-top: 5%;
  width: 40%;
  transition: transform 0.4s ease;
}

.right1 img:hover {
  transform: scale(4);
}




h2 {
  color: #8a3434;
  margin-top: 50%;
  margin-left: 10%;
  cursor: pointer;
}

h2:hover .christmas {
  animation: glow 1s infinite alternate; /* Apply the glow animation on hover */
}

@keyframes glow {
  from {
    text-shadow: 0 0 20px #75ed75, 0 0 30px #00ff00, 0 0 40px #00ff00; /* Initial text-shadow properties */
  }
  to {
      text-shadow: 0 0 30px #00ff00, 0 0 40px #00ff00, 0 0 50px #00ff00; /* Final text-shadow properties */
  }
}

p {
  color: #855e4f;
}
.christmas {
  color: green;
}


/* .left2 {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.left2 p{
  color: #855e4f;
  margin-top: 7%;
  margin-left: 10%;
  margin-right: 15%;
  font-size: 90%;
}

.right2 {
  color: #7f5342;
  margin-top: 10%;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
}

.right2 img {
  margin-top: 5%;
  width: 70%;
  transition: transform 0.4s ease;
}

.right2 img:hover {
  transform: scale(4);
} */


.nav-btn {
  display: flex;
  justify-content: space-between;
  margin-top: 3%;
}

.navigation {
  text-align: center;
  display: flex;
  flex-direction: row;
  gap: 85%;
}

.button {
  display: inline-block;
  padding: 5px 5px;
  background-color: #ffffff7b;
  color: #8a3434;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #9a90904c;
}



@media only screen and (max-width: 600px) {
  .container10 {
    width: 80%;
    height: 280px;
  }
  h4 {
    font-size: 1.3vw;
  }
  h3 {
      font-size: 1.5vw;
  }
  .le p{
    margin-top: 8%;
    font-size: 1.2vw;
    margin-right: 2%;
  }

  .button {
    font-size: 1.5vw;
  }

  .navigation {
    margin-left: 10%;
    gap: 73%;
  }
  
}